<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
   <connectionStrings>
  <add name="FYPManager123" connectionString="Server=DESKTOP-6F1DQ2I\SQLEXPRESS;Database=FYPManager123;Trusted_Connection=True;"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>